{% extends '::front.html.twig' %}

{% block breadcrumb %}Acervo Digitais{% endblock %}

{% block body -%}

    {% embed 'MuseuFrontendBundle:Acervo:menu.html.twig' %} 
    {% block depoimento %}active{% endblock %} 
    {% endembed %}

    <div class="col-md-9" style="margin-top: 90px;">
        <h2>{% if option == 'musicas' %} Músicas {% elseif option == 'videos' %} Vídeos {% else %} {{ option|capitalize }} {% endif %}</h2>
    </div>            

    <div class="col-md-9">
    {% if option == 'musicas' or option == 'videos' %}
        {% include 'MuseuFrontendBundle:Acervo:' ~ option ~ '.html.twig' %}
    {% else %}
        {% include 'MuseuFrontendBundle:Acervo:table.html.twig' %}
    {% endif %}

        {{ knp_pagination_render(acervos) }}

        {{ render(controller('MuseuFrontendBundle:Default:news')) }}
    </div>
{% endblock %}