<table class="table table-striped table-bordered table-advance table-hover">
    <thead>
        <tr>
            <th>Título</th>
            <th>Compositor</th>
            <th>Intérprete</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for acervo in acervos %}
        <tr>
            <td>{{ acervo.title }}a</td>
            <td>{{ acervo.composer }}</td>
            <td>{{ acervo.interpret }}</td>
            <td><a href="{{ acervo.url }}" target="_blank"><i class="fa fa-external-link"></i></a></td>
        </tr>
        {% endfor %}

    </tbody>    
</table>