{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Acervo</h1>

    
    {{ form_start(edit_form, { 'attr': { 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
    	{{ form(edit_form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('collection') }}">
            voltar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
