{% extends '::front.html.twig' %}

{% block breadcrumb %}Acessibilidade{% endblock %}

{% block body -%}
    

            <!-- ROW 1 -->
            <div class="row margin-bottom-40">
                <div class="col-md-12 col-sm-12" style="margin-top: 10px;">  
                    <p>O Museu do Trabalhador do Campo oferece aos seus usuários ferramentas para a leitura dos materiais escritos que estão disponíveis em seu Acervo Digital em Libras (Linguagem Brasileira de Sinais) e também com um Leitor de Voz.</p>
                    
        </div>  
</div>  
    
    
{% endblock %}