{% extends '::front.html.twig' %}

{% block breadcrumb %}Acessibilidade{% endblock %}

{% block body -%}
    

            <!-- ROW 1 -->
            <div class="row margin-bottom-40">
                <div class="col-md-12 col-sm-12">  
                    <h4>Disponibilizamos acessibilidade para os deficientes visuais</h4>
                    <div id="accordion1" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                                    Leitura de Voz
                                    </a>
                                </h4>
                            </div>
                            
                        </div>         
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
                                    Linguagem de Sinais
                                    </a>
                                </h4>
                            </div>
                            
                        </div>

                        
                    </div>
        </div>  
</div>  
    
    
{% endblock %}