{% extends '::front.html.twig' %}

{% block breadcrumb %}Acessibilidade{% endblock %}

{% block body -%}

<!-- ROW 1 -->
<div class="row margin-bottom-40">
	<div class="col-md-12 col-sm-12" style="margin-top: 10px;">  


	</div>  
</div>  

<div class="container min-hight">
	<!-- ROW 1 -->
	<div class="row margin-bottom-40">
		<div class="col-md-12 col-sm-12">
			<p>Museu do Trabalhador do Campo oferece aos seus usuários ferramentas para a leitura dos materiais escritos que estão disponíveis em seu Acervo Digital em Libras (Língua Brasileira de Sinais) e também com um Leitor de Voz.</p>
			<div id="accordion1" class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="" href="">
								Leitura de Voz
							</a>
						</h4>
					</div>
					<div id="accordion1_1" class="panel-collapse collapse">
						<div class="panel-body">
							<p>O MTC, o Museu do Trabalhador do Campo, tem várias dicas e propostas de aula sobre os temas que são aqui apresentado
								serem utilizados em sala de aula nas mais diferentes disciplinas. <br /><br />
								São propostas de atividades pedagógicas e lúdicas pensadas especialmente para as exposições virtuais, os filmes e d
								partir da nossa Biblioteca Digital. <br /><br />
								E, ainda, vídeos preparados por especialistas, escritores e professores, a partir de projetos e práticas já experimenta
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="" href="">
									Língua de Sinais
								</a>
							</h4>
						</div>
						<div id="accordion1_2" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Os alunos do Ensino Fundamental e do Ensino Médio podem encontrar no Acervo Digital do MTC, o Museu do Trabalhador d
									escolares, atividades e entretenimentos e, ainda, eBooks que tratam sobre a mesma temática. </p>
								</div>
							</div>
						</div>
					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

