{% extends '::front.html.twig' %}



{% block body -%}
<link href="/front/assets/css/pages/gallery.css" rel="stylesheet" />
<div class="col-md-12" style="">
      <div class="row margin-bottom-40">
        	<h2>Biblioteca Digital do Museu do Trabalhador do Campo</h2>
      		<p>Na Biblioteca Digital do Museu do Trabalhador do Campo você pode se cadastrar e começar a ler já eBooks de grandes autores nacionais e estrangeiros de todos os tempos.</p>

			<p>Para se cadastrar, você precisa comparecer pessoalmente à sede da Feraesp ou do sindicato de empregados rurais da sua base e informar nome, data de nascimento, cidade e um e-mail. E você pode começar na mesma hora a emprestar livros digitais de onde estiver, a partir de uma conexão de internet.</p>

			<p>Você pode ler de um computador, tablet ou celular smartphone. Pode começar em um aparelho e continuar no outro e ler até depois de desconectar a internet.</p>

			<p>Pode ainda escolher o tamanho da letra, a cor da tela e formar sua própria biblioteca de eBooks favoritos, para ler quando quiser.</p>

			<p>Você pode pegar emprestado até 3 livros por vez e tem 15 dias para ler (caso seja necessário, pode prorrogar por igual período, de onde estiver).</p>

			<p>Nesta fase de implantação, a Biblioteca Digital do Museu do Trabalhador, que foi implantada a partir de uma parceria entre a Árvore de Livros e o Observatório do Livro e da Leitura, da Fundação Palavra Mágica, possui em seu acervo 1.000 eBooks que estão em domínio público.</p>

			<p><a href="#">Veja aqui onde você pode se cadastrar</a></p>

      </div>

</div>



{% endblock %}