{% extends '::front.html.twig' %}



{% block body -%}
<link href="/front/assets/css/pages/gallery.css" rel="stylesheet" />
<div class="col-md-12" style="">
      <div class="row margin-bottom-40">
          <h2>Biblioteca Digital do Museu do Trabalhador do Campo</h2>
      </div>

</div>



{% endblock %}