{% extends '::front.html.twig' %}

{% block educacao_active%}active{% endblock %}
{% block breadcrumb %}Educação{% endblock %}

{% block body -%}

            <!-- ROW 1 -->
            <div class="row margin-bottom-40">
                <div class="col-md-12 col-sm-12">

                    <p>
                       <h3>Bem vindo ao MTC, o Museu do Trabalhador do Campo!</h3>
                       <br />
                       Aqui professores e alunos dos diversos níveis de ensino têm acesso a mais informações, materiais de apoio e atividades lúdicas a partir do nosso acervo digital e dos temas que são abordados e propostos pelo nosso museu virtual. 
                    </p>
 
                   

        <div id="accordion1" class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                        Profesosores
                        </a>
                    </h4>
                </div>
                <div id="accordion1_1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>O MTC, o Museu do Trabalhador do Campo, tem várias dicas e propostas de aula sobre os temas que são aqui apresentados e que foram preparados por educadores para 
serem utilizados em sala de aula nas mais diferentes disciplinas. <br /><br />
                            São propostas de atividades pedagógicas e lúdicas pensadas especialmente para as exposições virtuais, os filmes e documentários sobre o tema e as notícias e reportagens do nosso Acervo Digital, bem como os eBooks que também tratam do assunto e podem ser acessados a 
partir da nossa Biblioteca Digital. <br /><br />
                        E, ainda, vídeos preparados por especialistas, escritores e professores, a partir de projetos e práticas já experimentadas na sala de aula. </p>
                    </div>
                </div>
            </div>         
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
                        Alunos
                        </a>
                    </h4>
                </div>
                <div id="accordion1_2" class="panel-collapse collapse">
                     <div class="panel-body">
                        <p>Os alunos do Ensino Fundamental e do Ensino Médio podem encontrar no Acervo Digital do MTC, o Museu do Trabalhador do Campo, informações para pesquisas 
escolares, atividades e entretenimentos e, ainda, eBooks que tratam sobre a mesma temática. </p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">
                        Cursos à Distância
                        </a>
                    </h4>
                </div>
                <div id="accordion1_3" class="panel-collapse collapse">
                     <div class="panel-body">
                        <p>O MCT, o Museu do Trabalhador do Campo, vai oferecer, a partir de 2015, cursos de formação de lideranças e cidadania, com depoimentos, aulas, palestras e leituras 
propostas pelos educadores da Universidade Aberta do Campo. </p>
                    </div>
                </div>
            </div>
        </div>
        </div>  
    </div>

    
    
{% endblock %}