{% extends '::front.html.twig' %}

{% block home_active%}active{% endblock %}

{% block body -%}
        {% include 'MuseuFrontendBundle:Default:slider.html.twig' %}



        <!-- BEGIN CONTAINER -->   
        <div class="container">
            
            <div class="clearfix"></div>

            <!-- BEGIN RECENT WORKS -->
            <div class="row recent-work margin-bottom-40">
                
                <div class="col-md-12">
                    <ul class="bxslider">
                        <li>
                            <em>
                                <img src="/front/assets/img/works/img1.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front/assets/img/works/img1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Hotsite Guariba, ano 30</strong>
                                <b>Entre agora no hotsite</b>
                            </a>
                        </li>
                        
                        <li>
                            <em>
                                <img src="/front/assets/img/works/img3.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front/assets/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>TV MTC</strong>
                                <b>Nossa TV</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="/front/assets/img/works/img4.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front/assets/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Rádio MTC</strong>
                                <b>A nossa rádio</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="/front/assets/img/works/img5.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front/assets/img/works/img5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Cine MTC</strong>
                                <b>Cinema</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="/front/assets/img/works/img6.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front/assets/img/works/img6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Universidade Aberta do Campo</strong>
                                <b>Universidade</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="/front/assets/img/works/img3.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front/assets/img/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Biblioteca MTC</strong>
                                <b>Livros</b>
                            </a>
                        </li>
                        <li>
                            <em>
                                <img src="/front/assets/img/works/img4.jpg" alt="" />
                                <a href="portfolio_item.html"><i class="fa fa-link icon-hover icon-hover-1"></i></a>
                                <a href="/front/assets/img/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="fa fa-search icon-hover icon-hover-2"></i></a>
                            </em>
                            <a class="bxslider-block" href="#">
                                <strong>Pesquisadores</strong>
                                <b></b>
                            </a>
                        </li>
                    </ul>        
                </div>
            </div>   
            <!-- END RECENT WORKS -->

            <div class="clearfix"></div>

            
        </div>
        <!-- END CONTAINER -->
{% endblock %}