<!-- BEGIN REVOLUTION SLIDER -->    
        <div class="fullwidthbanner-container slider-main">
            <div class="fullwidthabnner">
                <ul id="revolutionul" style="display:none;"> 
                        {% for banner in banners %}
                            
                                 
                        <!-- THE FIRST SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/front/assets/img/sliders/revolution/thumbs/thumb2.jpg">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="/front/assets/img/sliders/revolution/bg4.jpg" alt="">
                            
                            <div class="caption lft slide_title slide_item_left"
                                 data-x="0"
                                 data-y="105"
                                 data-speed="400"
                                 data-start="1500"
                                 data-easing="easeOutExpo">
                                 Museu MTC 
                            </div>
                            
                            <div class="caption lft slide_desc slide_item_left"
                                 data-x="5"
                                 data-y="180"
                                 data-speed="400"
                                 data-start="2500"
                                 data-easing="easeOutExpo">
                                 {{ banner.title }}
                            </div>
                                                 
                            <div class="caption lfb"
                                 data-x="640" 
                                 data-y="55" 
                                 data-speed="700" 
                                 data-start="1000" 
                                 data-easing="easeOutExpo"  >
                                 <img src="{{ asset(banner.pic) }}" alt="Image 1">
                            </div>
                        </li>
                        {% endfor %}

                        
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
{#
{% for banner in banners %}
	<img src="{{ asset(banner.pic) }}" style="width:200px; height: 300px;" /><br />
{% endfor %}#}