{% extends '::front.html.twig' %}

{% block body -%}

<div class="col-md-12" style="">
      <div class="row margin-bottom-40">
          <h2>Linha do Tempo</h2>
      </div>
    
    

            <h1>1984</h1>

 

<h2>JANEIRO</h2>

<p>O desemprego na entressafra agrícola faz crescer a tensão no interior paulista.</p>

 

<h2>FEVEREIRO</h2>

<p>Em Penápolis, boias-frias desempregados tentam saquear supermercado. A prefeitura doa alimentos.

Cidades como São Joaquim da Barra organizam frente de trabalho para minimizar o problema.</p>

 

<h2>MARÇO</h2>

Pastoral da Terra discute a migração de mineiros e nordestinos para a safra da cana em SP e MS e a mudança do sistema do corte de 5 para 7 ruas

Governo de SP fala em regulamentar os “gatos”, intermediários da mão de obra rural.

 

<h2>ABRIL</h2>

Protestos em Ribeirão Preto, Sertãozinho e Presidente Prudente contra más condições de transporte em caminhões paus-de-arara, mortes nas estradas e falta de fiscalização.

Cresce a revolta diante dos acidentes rodoviários, como o que matou quase 50 em Ituiutaba (MG).

 

<h2>MAIO</h2>

<p>Revoltados com as más condições de trabalho, os salários baixos e, ainda, o preço dos alimentos e da água, 10 mil cortadores de cana de Guariba param, saem em passeata, depredam e saqueiam Guariba. A polícia reage, mata um e fere 30.</p>

<p>A greve tem a adesão de dezenas de cidades da região e a safra da cana é interrompida.</p>

<p>Os apanhadores de laranja também param e, em vez de conter, a repressão violenta da polícia faz o movimento crescer, atingindo 150 mil boias-frias no Estado.</p>

<p>Pressionados pela opinião pública, usinas assinam o Acordo de Guariba e são obrigadas a trocar caminhões por ônibus, fornecer ferramentas de trabalho, uniforme e proteção e reajustar os salários.</p>

<p>Boias-frias de Uberaba (MG) pressionam e também obtém conquistas.</p>

 

<h2>JUNHO</h2>

<p>Apanhadores de laranja forçam e conseguem acordo salarial em Bebedouro e outras cidades. Não cumprimento do Acordo de Guariba provoca novas greves em Pitangueiras e agora também nas regiões de Mirandópolis e Lins.</p>

<p>Surgem mais mobilizações no PR e no RJ.</p>

 

<h2>JULHO</h2>

<p>Cortadores de cana em idades como Araraquara e Boa Esperança do Sul reclamam do não cumprimento do acordo e cruzaram os braços de novo.</p>

 

<h2>AGOSTO</h2>

<p>Em Campos (RJ), 25 mil boias-frias param os canaviais e conseguem conquistas para 80 mil trabalhadores do campo do interior do RJ.</p>

<p>Cortadores de cana de Sertãozinho param de novo.</p>

 

<h2>SETEMBRO</h2>

<p>Assustados com ameaças de novas greves e convulsões sociais com o fim da sagra agrícola, prefeituras e autoridades estaduais sentam para ouvir os trabalhadores.</p>

 

<h2>OUTUBRO</h2>

<p>200 mil boias-frias da Zona da Mata fazem greve de 9 dias em Pernambuco e obtém vitórias.</p>

<p>96 mil boias-frias entram em greve na Paraíba ganham aumentos salarias na Justiça.</p>

<p>Mais greves atingem o interior de São Paulo. Além de Bebedouro, apanhadores de laranja de Araras também param.</p>

 

<h2>NOVEMBRO</h2>

<p>2 em cada 10 boias-frias da região ficam sem emprego com o fim da safra da cana na região de Ribeirão Preto.</p>

 

<h2>DEZEMBRO</h2>

<p>Migrantes voltam para Minas e estados do Nordeste com a entressafra da cana. O medo do desemprego nos meses seguintes eleva outra vez a tensão social no estado.</p>


        </div>








{% endblock %}