{% extends '::front.html.twig' %}



{% block body -%}
<link href="/front/assets/css/pages/gallery.css" rel="stylesheet" />
<div class="col-md-12" style="">
      <div class="row margin-bottom-40">
          <h2>Universidade Aberta do Campo</h2>
      </div>
    
    
        
        <div class="col-md-3 col-sm-4 gallery-item" style="height: 260px;">
            Esta página está em construção.
        </div>


</div>



{% endblock %}