{% extends '::front.html.twig' %}

{% block museu_active%}active{% endblock %}

{% block body -%}
    <!-- BEGIN BREADCRUMBS -->   
        <div class="row breadcrumbs margin-bottom-40">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>O Museu</h1>
                </div>
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTAINER -->   
        <div class="container min-hight">
            <!-- BEGIN ABOUT INFO -->   
            <div class="row margin-bottom-30">
                <!-- BEGIN INFO BLOCK -->               
                <div class="col-md-7 space-mobile">
                    <h2>Equipe</h2>
                    <p> O MCT, o Museu do Trabalhador do Campo, é uma iniciativa de um conjunto de personalidades e instituições lideradas pela Feraesp (Federação dos Empregados Rurais 
Assalariados do Estado de São Paulo). Ele é um dos resultados do Projeto Guariba, Ano 30, coordenado pelo Instituto Ideall, que iniciou uma série de pesquisas, entrevistas 
e gravações sobre questões relativas aos trabalhadores do campo por ocasião da celebração dos 30 anos da revolta dos bóias-frias paulistas iniciada em Guariba, na região 
de Ribeirão Preto, em maio de 1984, e que logo se espalhou para dezenas de cidades do interior de São Paulo. 
</p>
                    <!-- BEGIN LISTS -->
                    <div class="row front-lists-v1">
                        <div class="col-md-6">
                            <ul class="list-unstyled margin-bottom-20">
                                <li><i class="fa fa-check"></i> Officia deserunt molliti</li>
                                <li><i class="fa fa-check"></i> Consectetur adipiscing </li>
                                <li><i class="fa fa-check"></i> Deserunt fpicia</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check"></i> Officia deserunt molliti</li>
                                <li><i class="fa fa-check"></i> Consectetur adipiscing </li>
                                <li><i class="fa fa-check"></i> Deserunt fpicia</li>
                            </ul>
                        </div>
                    </div>
                    <!-- END LISTS -->
                </div>
                <!-- END INFO BLOCK -->   
                <!-- BEGIN CAROUSEL -->            
                <div class="col-md-5 front-carousel">
                    <div id="myCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item">
                                <img src="/front/assets/img/pics/img2-medium.jpg" alt="">
                                <div class="carousel-caption">
                                    <p>Excepturi sint occaecati cupiditate non provident</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/front/assets/img/pics/img1-medium.jpg" alt="">
                                <div class="carousel-caption">
                                    <p>Ducimus qui blanditiis praesentium voluptatum</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="/front/assets/img/pics/img2-medium.jpg" alt="">
                                <div class="carousel-caption">
                                    <p>Ut non libero consectetur adipiscing elit magna</p>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>                
                </div>
                <!-- END CAROUSEL -->             
            </div>
            <!-- END ABOUT INFO -->   

            <!-- BEGIN OUR TEAM -->
            <div class="row front-team">
                <ul class="list-unstyled">
                    <li class="col-md-4 space-mobile">
                        <div class="thumbnail">
                            <img src="/front/assets/img/people/img2-large.jpg" alt="">
                            <h3>
                                <a>Galeno Amorim</a> 
                                <small>Curador do Projeto</small>
                            </h3>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                            <ul class="social-icons social-icons-color">
                                <li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
                                <li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
                                <li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
                                <li><a href="#" data-original-title="Linkedin" class="linkedin"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-md-4 space-mobile">
                        <div class="thumbnail">
                            <img src="/front/assets/img/people/img4-large.jpg" alt="">
                            <h3>
                                <a>José do Nascimento Junior</a> 
                                <small>Coordenador de Museologia</small>
                            </h3>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                            <ul class="social-icons social-icons-color">
                                <li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
                                <li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
                                <li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
                                <li><a href="#" data-original-title="Linkedin" class="linkedin"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-md-4 space-mobile">
                        <div class="thumbnail">
                            <img src="/front/assets/img/people/img1-large.jpg" alt="">
                            <h3>
                                <a>Neide Aparecida</a> 
                                <small>Coordenadora de Projetos</small>
                            </h3>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                            <ul class="social-icons social-icons-color">
                                <li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
                                <li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
                                <li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
                                <li><a href="#" data-original-title="Linkedin" class="linkedin"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="thumbnail">
                            <img src="/front/assets/img/people/img5-large.jpg" alt="">
                            <h3>
                                <a>Mariangela Amorim</a> 
                                <small>Coordenadora de Pesquisas</small>
                            </h3>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                            <ul class="social-icons social-icons-color">
                                <li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
                                <li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
                                <li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
                                <li><a href="#" data-original-title="Linkedin" class="linkedin"></a></li>
                            </ul>
                        </div>
                    </li>
                     <li class="col-md-4">
                        <div class="thumbnail">
                            <img src="/front/assets/img/people/img2-large.jpg" alt="">
                            <h3>
                                <a>Brás Henrique</a> 
                                <small>Pesquisas e Entrevistas</small>
                            </h3>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                            <ul class="social-icons social-icons-color">
                                <li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
                                <li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
                                <li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
                                <li><a href="#" data-original-title="Linkedin" class="linkedin"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-md-4">
                        <div class="thumbnail">
                            <img src="/front/assets/img/people/img5-large.jpg" alt="">
                            <h3>
                                <a>Jessica Alba</a> 
                                <small>Digitação</small>
                            </h3>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                            <ul class="social-icons social-icons-color">
                                <li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
                                <li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
                                <li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
                                <li><a href="#" data-original-title="Linkedin" class="linkedin"></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>            
            </div>
            <!-- END OUR TEAM -->

        </div>          
    
    
{% endblock %}