{% extends '::front.html.twig' %}

{% block museu_active%}active{% endblock %}
{% block breadcrumb %}O Museu{% endblock %}

{% block body -%}

            <!-- BEGIN ABOUT INFO -->   
            <div class="row margin-bottom-30">
                <!-- BEGIN INFO BLOCK -->               

                <div class="col-md-12 space-mobile">
                    <h2>Equipe</h2>
                    <div class="col-md-7">
                    
                    <p> O Museu do Trabalhador do Campo é uma iniciativa de um conjunto de personalidades e instituições lideradas pela Feraesp (Federação dos Empregados Rurais Assalariados do Estado de São Paulo). Ele é um dos resultados do Projeto Guariba, Ano 30, desenvolvido e coordenado pelo Instituto Ideall, com uma série de pesquisas, entrevistas e gravações sobre questões relativas aos trabalhadores do campo por ocasião das comemorações dos 30 anos da chamada Revolta dos Boias-frias nos anos 1980 no interior de São Paulo.
                    </p>
                    </div>
                    
                </div>
                <!-- END INFO BLOCK -->   
                <!-- BEGIN CAROUSEL -->            
                
                <!-- END CAROUSEL -->             
            </div>
            <!-- END ABOUT INFO -->   

            <!-- BEGIN OUR TEAM -->
            <h2>Conselho de Administração</h2>
            <div class="row front-team">
                <ul class="list-unstyled">
                    <li class="col-md-4 space-mobile">
                        <div class="thumbnail">
                            <img src="/images/equipe/image001.jpg" alt="" style="margin-left: 0; width: 200px; height: 200px;">
                            <h3>
                                <a>Elio Neves</a> 
                                <small>Presidente da Feraesp</small>
                            </h3>
                        </div>
                    </li>
                </ul>
            </div>
            <h2>Equipe</h2>
            <div class="row front-team">
                <ul class="list-unstyled">
                    <li class="col-md-4 space-mobile">
                        <div class="thumbnail">
                            <img src="/images/equipe/image002.jpg" alt="" style="margin-left: 0; width: 200px; height: 200px;">
                            <h3>
                                <a>Galeno Amorim</a> 
                                <small>Curador</small>
                            </h3>
                            <ul class="social-icons social-icons-color">
                                <li><a href="http://br.linkedin.com/pub/galeno-amorim/48/208/4a5" target="_blank" data-original-title="Linkedin" class="linkedin"></a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="col-md-4 space-mobile">
                        <div class="thumbnail">
                            <img src="/images/equipe/image003.jpg" alt="" style="margin-left: 0; width: 200px; height: 200px;">
                            <h3>
                                <a>Brás Henrique</a> 
                                <small>Editor de Pesquisas e Entrevistas</small>
                            </h3>
                            <ul class="social-icons social-icons-color">
                                <li><a href="https://www.facebook.com/bras.henrique.5?fref=ts" target="_blank" data-original-title="Facebook" class="facebook"></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="col-md-4 space-mobile">
                        <div class="thumbnail">
                            <img src="/images/equipe/image004.jpg" alt="" style="margin-left: 0; width: 200px; height: 200px;">
                            <h3>
                                <a>Neide Aparecida</a> 
                                <small>Coordenadora de Projetos</small>
                            </h3>
                            <ul class="social-icons social-icons-color">
                                <li><a href="https://www.facebook.com/neideaparecida.silva.54" target="_blank" data-original-title="Facebook" class="facebook"></a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="col-md-4 space-mobile">
                        <div class="thumbnail">
                            <img src="/images/equipe/image005.jpg" alt="" style="margin-left: 0; width: 200px; height: 200px;">
                            <h3>
                                <a>José Nascimento Jr.</a> 
                                <small>Coordenador de Museologia</small>
                            </h3>
                            <ul class="social-icons social-icons-color">
                                <li><a href="https://br.linkedin.com/pub/josé-nascimento-junior/15/8b2/821" target="_blank" data-original-title="Linkedin" class="linkedin"></a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="col-md-4 space-mobile">
                        <div class="thumbnail">
                            <img src="/images/equipe/image006.jpg" alt="" style="margin-left: 0; width: 200px; height: 200px;">
                            <h3>
                                <a>Mariangela Amorim</a> 
                                <small>Coordenadora</small>
                            </h3>
                            
                        </div>
                    </li>
                    <li class="col-md-4 space-mobile">
                        <div class="thumbnail">
                            <img src="/images/equipe/image007.jpg" alt="" style="margin-left: 0; width: 200px; height: 200px;">
                            <h3>
                                <a>Bernardo Alves</a> 
                                <small>Desenvolvedor</small>
                            </h3>

                            <ul class="social-icons social-icons-color">
                                <li><a href="http://br.linkedin.com/in/bernardoalves" target="_blank" data-original-title="Linkedin" class="linkedin"></a></li>
                            </ul>
                            
                        </div>
                    </li>
                    <li class="col-md-4 space-mobile">
                        <div class="thumbnail">
                            <img src="/images/equipe/image008.png" alt="" style="margin-left: 0; width: 200px; height: 200px;">
                            <h3>
                                <a>Sandra Cristina Peripato</a> 
                                <small>Digitação</small>
                            </h3>

                            <ul class="social-icons social-icons-color">
                                <li><a href="https://www.facebook.com/sandracristina.peripato" target="_blank" data-original-title="Facebook" class="facebook"></a></li>
                            </ul>
                            
                        </div>
                    </li>
                </ul>            
            </div>
            <!-- END OUR TEAM -->

         
    
    
{% endblock %}