{% extends '::front.html.twig' %}

{% block museu_active%}active{% endblock %}
{% block breadcrumb %}O Museu{% endblock %}

{% block body -%}

            <!-- ROW 1 -->
            <div class="row margin-bottom-40">
                <div class="col-md-12 col-sm-12">
                    <h3>Missão</h3>
                    <p>
                       O Museu do Trabalhador do Campo tem como missão resgatar, preservar e disseminar a história dos trabalhadores do campo do Estado de São Paulo como forma de reconhecer e valorizar esse protagonismo e cooperar para o desenvolvimento pessoal e a formação de lideranças e cidadãos autônomos e participativos.
                    </p>
                   
                </div>  
            </div>
         
    
    
{% endblock %}