{% extends '::front.html.twig' %}

{% block museu_active%}active{% endblock %}

{% block body -%}
    <!-- BEGIN BREADCRUMBS -->   
        <div class="row breadcrumbs margin-bottom-40">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>O Museu</h1>
                </div>
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTAINER -->   
        <div class="container min-hight">
            <!-- ROW 1 -->
            <div class="row margin-bottom-40">
                <div class="col-md-12 col-sm-12">
                    <h3>Missão</h3>
                    <p>
                       O MTC, o Museu do Trabalhador do Campo, tem como missão o resgate, a preservação e a disseminação da história dos trabalhadores do campo como forma de 
reconhecer e valorizar esse protagonismo e cooperar para o desenvolvimento pessoal e a formação de lideranças e cidadãos autônomos e participativos
                    </p>
                   
                </div>  
            </div>
        </div>          
    
    
{% endblock %}