{% extends '::front.html.twig' %}

{% block museu_active%}active{% endblock %}

{% block body -%}
    <!-- BEGIN BREADCRUMBS -->   
        <div class="row breadcrumbs margin-bottom-40">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <h1>O Museu</h1>
                </div>
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTAINER -->   
        <div class="container min-hight">
            <!-- ROW 1 -->
            <div class="row margin-bottom-40">
                <div class="col-md-12 col-sm-12">
                    <h3>O que é</h3>
                    <p>
                        O MTC, o Museu do Trabalhador do Campo, reúne em seu acervo um conjunto de textos e imagens que ilustram momentos marcantes que forjaram a história de muito 
trabalho e luta de homens e mulheres trabalhadores do campo no estado de São Paulo desde o século 20. São fotografias, notícias, comentários e reportagens em jornais, 
revistas, sites, rádio e televisão com histórias de vida, o cotidiano em seus locais de trabalho na zona rural e sua vida nas comunidades em que vivem nas periferias das 
cidades. Suas formas de organização social, política e sindical e os movimentos dos bóias-frias paulistas que tiveram seu ponto alto na chamada de Revolta de Guariba, na 
década de 1980. 
                    </p>
                    <p>
                        Com mais de 2 mil notícias sobre os boiás-frias publicadas na imprensa brasileira nos últimos 30 anos, o MTC, o Museu do Trabalhador do Campo, é uma fonte inesgotável 
de informações e conhecimentos sobre o tema. Serve aos pesquisadores, jornalistas, educadores, estudantes e quem se interessar pelo assunto, que há muito chama a 
atenção de estudiosos, investigadores e mesmo investidores, no Brasil e em outros países. 

                    </p>
                    <p>O MTC, o Museu do Trabalhador do Campo, é, no entanto, muito mais do que um grande banco de dados sobre os trabalhadores rurais paulistas e suas ramificações em 
diversos estados brasileiros, principalmente das regiões Norte, Nordeste e mesmo do Sudeste, a partir de onde migram para os canaviais, pomares e outras culturas 
agrícolas do Estado de São Paulo durante as safras agrícolas. 
</p>
                    <p>Ao mesmo tempo em que joga luz sobre a história de coragem, resistência e, sobretudo, esperança dos bóias-frias, parte dessa própria história para formular projetos e 
programas de educação para que trajetória social e humana possa ser contada e estuda nas escolas e universidades. E ser matéria prima de extraordinária qualidade para a 
formação de profissionais das mais diferentes áreas, para que possam incorporar um conhecimento e um olhar que, em geral, passam distantes do ensino formal brasileiro. 
E também ser uma plataforma no mundo digital e também no físico para, com o apoio das novas tecnologias, cooperar na formação de novas lideranças no campo e apoiar 
a formação dos trabalhadores rurais e seus filhos, gerando maior acesso não só à história como à educação, à cultura, à leitura e à inclusão digital.</p>
<p>
Em sua primeira etapa, o MTC, o Museu do Trabalhador do Campo, funcionará como um museu virtual. Na segunda etapa do projeto, terá também instalações físicas. 
</p>
                </div>  
            </div>
        </div>          
    
    
{% endblock %}