{% extends '::front.html.twig' %}

{% block museu_active%}active{% endblock %}
{% block breadcrumb %}O Museu{% endblock %}

{% block body -%}
            <!-- ROW 1 -->
            <div class="row margin-bottom-40">
                <div class="col-md-12 col-sm-12">
                    <h3>O que é</h3>
                    <p>
                        O Museu do Trabalhador do Campo reúne em seu acervo um conjunto de textos e imagens que ilustram momentos marcantes que forjaram a história e as lutas de homens e mulheres trabalhadores do campo no estado de São Paulo a partir do século 20.
                        </p>
                        <p>
                        São fotografias, notícias, comentários e reportagens em jornais, revistas, sites, rádio e televisão com histórias de vida, o cotidiano em seus locais de trabalho na zona rural e sua vida nas comunidades em que vivem nas periferias das cidades. E as formas de organização social, política e sindical e os movimentos dos bóias-frias paulistas que tiveram seu ponto alto na chamada de Revolta de Guariba, na década de 1980.
                        </p>
                        <p>
                        Com milhares de notícias sobre os boias-frias publicadas na imprensa brasileira nos últimos 30 anos, o Museu do Trabalhador do Campo é uma fonte inesgotável de informações e conhecimentos sobre o tema. Serve a pesquisadores, jornalistas, educadores, estudantes e a quem se interessar pelo assunto, que há muito chama a atenção de estudiosos, investigadores e mesmo investidores, no Brasil e em outras partes do mundo.
                        </p>
                        <p>
                        O Museu do Trabalhador do Campo é, no entanto, muito mais do que um grande banco de dados sobre os trabalhadores rurais paulistas e suas ramificações em diversos estados brasileiros, principalmente das regiões Norte, Nordeste e mesmo do Sudeste, a partir de onde migram para os canaviais, pomares e outras culturas agrícolas do Estado de São Paulo durante as safras agrícolas.
                        </p>
                        <p>
                        Ao mesmo tempo em que joga luz sobre a história de coragem, resistência e, sobretudo, esperança dos boias-frias, o Museu dos Trabalhadores do Campo parte da história para formular projetos e programas de educação.
                        </p>
                        <p>
                        Isso permitirá que a trajetória social e humana dos trabalhadores do campo possa ser melhor contada e estudada e servir como insumo, de uma qualidade extraordinária, para apoiar a formação de indivíduos que incorporem conhecimentos e olhares gerados pelos brasileiros do campo, em geral, permanecem distantes do nosso ensino formal.
                        </p>
                        <p>
                        O museu também visa a formação de lideranças do campo e o apoio à formação de trabalhadores rurais e seus filhos como também promove ações educativas, culturais e de inclusão digital.
                        </p>
                        <p>
Inicialmente, o Museu do Trabalhador do Campo atuará como um museu virtual. Na segunda etapa do projeto, terá também instalações físicas e outras novidades.
</p>
                </div>  
            </div>
         
    
    
{% endblock %}