{% extends '::front.html.twig' %}


{% block body -%}
  
                {% embed 'MuseuFrontendBundle:Guariba:topo.html.twig' %} 
                {% endembed %}


                {% embed 'MuseuFrontendBundle:Guariba:menu.html.twig' %} 
                    {% block depoimento %}active{% endblock %} 
                {% endembed %}

                <div class="col-md-9">
                    <h3>Envie seu depoimento</h3>
                    <p>O Museu do Trabalhador do Campo está recolhendo fotografias, documentos, gravações, notícias, folhetos, cartazes e também depoimentos de quem esteve ou participou dos episódios que fizeram parte dos movimentos dos trabalhadores rurais desde a década de 1980 no interior de São Paulo.
                    Se você tem ou conhece alguém que tenha qualquer um desses itens, mande um e-mail para contato@museudotrabalhadordocampo.org.br.</p>
                    <p>O Museu do Trabalhador do Campo também quer o seu depoimento sobre o que presenciou e suas impressões sobre o movimento iniciado em maio de 1984 e que se estendeu pelos anos seguintes em outras localidades do do Estado de São Paulo. Você mesmo pode gravar seu depoimento no YouTube e enviar o link por e-mail.</p>
                     
                    <p>10 passos para você gravar e enviar seu depoimento:</p>
                    <ol>
                    <li>Clique em gravar <a href="https://www.youtube.com/my_webcam?privacy=public" target="_blank">depoimento no YouTube</a></li>
                    <li>Clique em Iniciar Gravação</li>
                    <li>Marque Permitir que o s.itimg.com acesse sua câmera e gravador</li>
                    <li>Clique em Iniciar gravação</li>
                    <li>Ao terminar de falar, clique Interromper gravação (se quiser continuar, clique Começar novamente)</li>
                    <li>Ao concluir a gravação, clique em Enviar</li>
                    <li>Na tela Informações e Configurações, clique em Publicar.</li>
                    <li>Em seguida, clique em Vídeo da Web com a data da gravação e copie o link que aparecer na URL.</li>
                    <li>Cole o link no corpo do e-mail, informe seu nome, cidade e telefone e envie para <a href="mailto:depoimento@museudotrabalhadordocampo.org.br">depoimento@museudotrabalhadordocampo.org.br</a>.</li>
                    <li>Pronto! Em breve, seu depoimento estará na página Guariba, Ano 30., no Museu do Trabalhador do Campo.</li>
                    </ol>
                </div>            
            



{% endblock %}