{% extends '::front.html.twig' %}


{% block body -%}
  
                {% embed 'MuseuFrontendBundle:Guariba:topo.html.twig' %} 
                {% endembed %}


                {% embed 'MuseuFrontendBundle:Guariba:menu.html.twig' %} 
                    {% block depoimento %}active{% endblock %} 
                {% endembed %}

                <div class="col-md-9">
                    <h3>Mande seu depoimento</h3>
                    <p>Se você tem uma webcam no seu computador e uma conta no Google (Gmail), você pode gravar no YouTube um vídeo relatando o que viu e viveu nas greves de Guariba e outras cidades paulistas década de 1980 para publicar aqui no site.</p>
                    
                    <h4><strong>Como gravar seu vídeo</strong></h4>
                    <p>Entre no YouTube e clique em <strong>Carregar</strong> para acessar página de envio para começar; no botão <strong>Captura de Webcam</strong> clique em <strong>Gravar</strong> (ou simplesmente clique no link <a href="https://www.youtube.com/my_webcam?privacy=public" target="_blank">www.youtube.com/my_webcam</a></p>
                    <img src="/images/record.png" />

                    <p>Clique em <strong>Iniciar Gravação</strong> e marque e selecione <strong>Permitir</strong> se você for solicitado a permitir que o YouTube acesse sua câmera e microfone.</p>
                     <img src="/images/record_2.png" />
                    <p>Ao terminar seu depoimento, clique em Interromper gravação.</p>
                    <br />
                    <h4><strong>Visualize e publique seu vídeo</strong> </h4>
                    <p>Depois de ter gravado o vídeo, você pode visualizá-lo clicando no botão <strong>Reproduzir =></strong>
                    Se ainda não está satisfeito com o vídeo, basta clicar no botão <strong>Começar de novo</strong> abaixo do vídeo. Quando estiver satisfeito com o vídeo, clique no botão <strong>Enviar</strong>.</p>
                    <img src="/images/record_3.jpg" />
                    <p>Na tela <strong>Informações e Configurações</strong>:
                        Marque o vídeo como <strong>Privado</strong>;<br />
                        Em <strong>Descrição</strong>, informe seu nome, cidade onde estava na ocasião e função que ocupava;<br />
                        Em <strong>Adicionar nomes, círculos ou endereços de e-mail</strong>, informe o e-mail <a href="mailto:depoimentos@museudotrabalhadordocampo.org.br">depoimentos@museudotrabalhadordocampo.org.br</a>;<br />
                        Clique em <strong>Compartilhar</strong> e, depois, em <strong>Salvar Alterações</strong>.<br />
                        Pronto! Logo você estará compartilhando seu depoimento com outras pessoas no Museu do Trabalhador do Campo!
 
                </div>            
            



{% endblock %}