<div class="col-md-3 col-sm-3" style="margin-top:15px;">
    <div class="well red" style="background-color: #d84a38; color: white; padding:0px;">
        <h1 style="font-size: 20px; text-align:center;">Guariba, Ano 30.</h1>
    </div>
</div>
<div class="col-md-9 col-sm-9" style="margin-top:15px;">
    <div class="well red" style="background-color: #d84a38; color: white; padding: 0px;">
        <h1 style="font-size: 20px; text-align:center;">
            <div>Conheça as historias de quem esteve lá.</i></div>
        </h1>
    </div>
</div>