{% extends '::front.html.twig' %}

{% block exposicoes_active%}{% endblock %}
{% block breadcrumb %}Publicações{% endblock %}

{% block css %}
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES --> 
    <link href="/front/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />               
    <!-- END PAGE LEVEL PLUGIN STYLES -->

    <!-- BEGIN THEME STYLES --> 
    <link href="/front/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/front/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/pages/portfolio.css" rel="stylesheet" type="text/css"/>
    <link href="/front/assets/css/custom.css" rel="stylesheet" type="text/css"/>
   <!-- END THEME STYLES -->
{% endblock %}
{% block body -%}

            <!-- BEGIN BLOG --> 
            <div class="row">
                <!-- BEGIN LEFT SIDEBAR -->            
                <div class="col-md-9 col-sm-9 blog-posts margin-bottom-40">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12 col-sm-12">
                            <h2><a href="{{ path('museu_livros') }}">Livros</a></h2>
                            <p>

                                Veja aqui livros impressos e digitais (os eBooks) já publicados sobre temas relacionados ao trabalhador do campo no Brasil. 
                                <br />São livros que você pode encontrar e ler, gratuitamente, em bibliotecas públicas, comunitárias e de escolas ou universidades ou adquirir em livrarias e sebos.
                            </p>       
                        </div>
                        
                    </div>
                    <hr class="blog-post-sep">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2>eBooks</h2>
                            <p>
                                Veja aqui os eBooks (livros digitais) já publicados sobre temas relacionados ao trabalhador do campo no Brasil que você pode encontrar e ler, gratuitamente, na Biblioteca Digital do Museu do Trabalhador do Campo.
 
                            </p>       
                        </div>
                        
                    </div>
                    <hr class="blog-post-sep">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2><a href="{{ path('museu_teses') }}">Teses</a></h2>
                            <p>
                                Veja aqui as teses publicadas sobre temas relacionados ao trabalhador do campo no Brasil. <br />Quando elas não estiverem disponíveis no nosso Acervo Digital, daremos, sempre que possível, o link onde elas sejam acessadas diretamente na fonte onde estão hospedadas.
 
                            </p>       
                        </div>
                        
                    </div>
                    <hr class="blog-post-sep">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2>TCCs</h2>
                            <p>
                                Veja os Trabalhos de Conclusão de Curso (TCCs) gerados sobre temas relacionados ao trabalhador do campo no Brasil.<br />Quando elas não estiverem disponíveis no nosso Acervo Digital, daremos, sempre que possível, o link onde elas sejam acessadas diretamente na fonte onde estão hospedadas. 
                            </p>       
                        </div>
                        
                    </div>
                    <hr class="blog-post-sep">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2>Artigos Acadêmicos</h2>
                            <p>
                                Veja os artigos acadêmicos publicados sobre temas relacionados ao trabalhador do campo no Brasil.<br /> Quando elas não estiverem disponíveis no nosso Acervo Digital, daremos, sempre que possível, o link onde elas sejam acessadas diretamente na fonte onde estão hospedadas.

                            </p>
                        </div>
                        
                    </div>
                    <hr class="blog-post-sep">

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2><a href="{{ path('museu_videos') }}">Vídeos</a></h2>
                        </div>
                        
                    </div>
                    <hr class="blog-post-sep">
                    {{ render(controller('MuseuFrontendBundle:Default:news')) }}

                </div>
                <!-- END LEFT SIDEBAR -->

                <!-- BEGIN RIGHT SIDEBAR -->
                {% include 'MuseuFrontendBundle:Publicacoes:categories.html.twig' %}            
                <!-- END RIGHT SIDEBAR -->            
            </div>
            <!-- END BEGIN BLOG -->


        
{% endblock %}